spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://192.168.200.156:5432/transversalesdb}
    username: ${SPRING_DATASOURCE_USERNAME:transversales}
    password: ${SPRING_DATASOURCE_PASSWORD:transversales}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false
  sql:
    init:
      mode: never
